
@charset "UTF-8";
/* CABECALHO */
/** CONFIGURACAO DOS CONTAINER FLUID **/
.container-fluid {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;

}



.nav-link{
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color:  #363636;

}


#paginaInicial {
  padding-top: 205px;
  background-image: url('fundo5N.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 720px;

}

.elemento{
  padding: 5% 5%; 
}

#teste{
  padding: 10% 10%;
}

.bg-primary{
  background-image: linear-gradient(to right, #808080, #696969);

}
.conteudoPrincipal{
  background-image: url('fundo9.jpg');
  font-family: 'Roboto', sans-serif;
  color: white;
}



.fundo{
  background-color: #DCDCDC;
  font-family: 'Roboto', sans-serif;
  color: black;

}

/* CIRCULO QUE CONTEM O FORMATO DA FOTO */
.circle {
  background-color: #aaa;
  border-radius: 50%;
  max-width: 250px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.circle img {
  width: 100%;
}

.lead {
  font-size: 30pt;
  color: white;
}

/* AUMENTANDO UM POUCO A FOTO DE APRESENTAÇÃO */
#fotoApresentacao {
    max-width: 300px;
}

a{
  color: black;
}

a:hover{
  color: white;
  text-decoration:none;
}

footer{
  background-image: linear-gradient(to right, #808080, #696969);
}

#home,#envelope,#whatsapp,#file{
  margin-top: 5px;
  font-size: 30px;
}

.contatos{
  text-align: left;
  margin-left: 30%;
}
#linkedin,#instagram,#github{
  margin-left: 10px;
  font-size: 40px;
  transition-duration: 0.5s;
}
#linkedin:hover, #instagram:hover, #github:hover{
  color: black;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.3);
}

/*CONFIGURANDO TEXTOS DO PARAGRAFO*/
p {
  font-size: 30px;
  width: auto;
  word-wrap: break-word;
}

.texto {
  text-align: justify;
  font-size: 20pt;
  color: #FFFAFA;


}
.textoe{
  text-align: justify;
  font-size: 20pt;
}

#experiencias{
  font-family: 'Inconsolata', monospace;
  color: black;
}

.titulo{
  font-size: 10pt;
}
/*Habilidades*/

.icon{
  width: 25px;
}

.logo{
  width: 50px;
}

.logoFila2{
  padding-top: 120px;
  width: 60px;
}

#mysql{

  padding-top: 5%;

  width: 100px;
}

#java{
  width: 80px;
}




/* RESPONSIVIDADE PARA TELAS MENORES */
@media (max-width: 600px) {


    .lead{
      font-size: 20pt;
    }

    #fotoApresentacao {
        max-width: 220px;
    }
    .texto{
      margin-top: 30px;
    }

    p.texto , .textoe {
      letter-spacing: -1px;
      font-size: 15pt;
      
    }


    .bounceInDown{
      margin-top: -60px;
      max-width: 200px;
    }
   
    .collapse,  .cabecalho {
      width: 50%;
    }

    .nav-link {
      width: auto;
      font-size: 30px;
      color: black;
      word-wrap: break-all; 
      text-align: center;

    }
    #paginaInicial{
    background-size: 1000px;
    }

    #titulos{
      margin-bottom: 60px;
    
    }
    #paragrafo{
      text-align: center;
      margin-left: -12px;  
      font-size: 21pt;
    }



/* EVITANDO QUE EXIBA MARCACAO EM ALGUNS DISPOSITIVOS */
    li{
      list-style-type: none;
    }

/*CONFIGURANDO AREA DE HABILIDADES*/
    .logo{
      width: 35px;
    }
    .logoFila2{
      width: 40px;
    }
    #conhecimento{
      margin: 100px 0px;

    }
    .icon{
      width: 20px;
    }

    /*FOOTER - CONTATOS*/
    .contatos{
      text-align: justify;
      margin: 15px 50px 0px 50px;
    }

    #anexo{
      margin: 50px 0px 80px 0px;
    }


}

/* FIM DE RESPONSIVIDADE PARA TELAS */

/*ANIMACAO DO SCROLL*/
.anime {
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: .3s;
}

.anime-start {
  opacity: 1;
  transform: translate3d(0,0,0);
}


/*ANIMACAO DE TEXTO*/
#apresentar::after {
  font-size: 20pt;
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
  color: white;
}

@keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


