<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Everton Silvs - Portifólio">
  
    <!--LINKS DE FONTES--> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

    
    <title>Everton Silva</title>

    <link rel="icon" type="image/x-icon" href="familiaridade/spring.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!--lINK DA FOLHA DE ESTILO PARA CONFIGURACAO DA PAGINA-->
    <link  rel="stylesheet" th:href="@{style.css}">

    <!--LINK DA BIBLIOTECA WOW.JS, DEFINIR O CSS DE ALGUMAS ANIMACOES NA PAGINA-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

   <script src="https://use.fontawesome.com/b120f1c89a.js"></script>

</head>

<body >
  
  <!-- CABEÇALHO-->
    
      <nav class="navbar navbar-expand-lg navbar-light fixed-top ">
        <a class="nav-link animated swing" th:href="@{index}">&lt;Everton Silva/&gt;</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" >
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse " id="navbarSite">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#navbarSite">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#apresentacao">Sobre</a></li>
            <li class="nav-item"><a class="nav-link" href="#experiencias">Experiência</a></li>
            <li class="nav-item"><a class="nav-link" href="#Habilidades">Habilidades</a></li>
            <li class="nav-item"><a class="nav-link" href="#contatos">Contato</a></li>
          </ul>
        </div>
      
      </nav>
 
    
<!--APRESENTAÇÃO-->

<div class="container-fluid elemento" id="paginaInicial">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" >
  
          <div class="circle wow bounceInDown" data-wow-duration="2s">
            <img src="foto.jpg"  alt="desenvolvedor" title="foto do desenvolvedor">
          </div>

          <p class="lead" id="apresentar">Olá, me chamo Everton. Sou desenvolvedor de software.</p>
           
              <a href="#apresentacao" class="btn btn-lg btn-secondary wow bounceInLeft"  data-wow-duration="2s">se apresente-me</a>
         
        </div>
      </div>
</div>


<!--CONTEUDO PRINCIPAL -->

<main class="container-fluid conteudoPrincipal" id="apresentacao"> 
  <h1>Sobre mim</h1>

            <div class="row elemento anime">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6" align="center">
                      <div class="circle" id="fotoApresentacao">
                         <img src="IMG_6442F.jpg" alt="formação" title="formação">
                       </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                      <p class="texto">
                        Garoto de 19 anos, Buscando e arriscando novos desafios. Recém formado em Téc. Informática para Internet, disposto a profunda meus conhecimentos, na liderança de resultados para empresa. Meu hobby é conhecer novas tecnologias, poder expandir na área de TI. amo dar vidas as telas como também solucionar problemas dos usuários. Portanto, não tenho uma preferência entre front-end ou back-end. Pretendo ingressar em cursos superiores no próximo ano, nessa área que tanto amo.</p>

                </div>
            </div>
</main>

<!--TERMINA CONTEUDO PRINCIPAL -->


<!-- experiencia -->
<div class="fundo">
<div class="container-fluid" id="experiencias">
       
       <h1>Experiências</h1>

        <div class="row anime elemento">

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 anime" id="titulos">
               
               <br><br>
               <p id="paragrafo">
               &nbsp;&bull;Monitoria  (duração de 4 meses)
               <br> <br>
               &nbsp;&bull;Oficinas
               <br> <br>
               &nbsp;&bull; Trabalho voluntario
              </p>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6" align="center">
                <p class="textoe ">Durante o curso fui monitor da disciplina de Desenvolvimento para WebI, auxiliando os alunos na criação de sites estetico e dinamico utilizando HTML5, CSS3, JavaScript, PHP e MySQL. Participei de oficinais na semana de informática e atuei como voluntario no evento ação IFPE organizado pelo campus de ensino.     </p>
            </div>

        </div>
</div>
</div> 
<!-- Habilidade -->
<div class="container-fluid conteudoPrincipal" id="Habilidades">
<h1>Habilidades</h1>
    

      <div class="row teste">

             <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 " id="idiomas">
              <h2>Idiomas</h2>
               <br>
               <p style="font-size: 17pt">Português: 
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="Leitura N1">
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="Leitura N2">
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="Escrita N1">
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="Escrita N2">
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="Leitura e escrita">
              </p>

                <p style="font-size: 17pt">Inglês: 
                  <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="A1-Iniciante">
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="A2-Iniciante">
                <img src="https://img.icons8.com/color/48/000000/filled-star.png" class="icon" alt="estrela amarela" title="B1-Intermediário">
                <img src="https://img.icons8.com/color/48/000000/star--v2.png" class="icon" alt="estrela branca" title="B2-Intermediário">
               <img src="https://img.icons8.com/color/48/000000/star--v2.png" class="icon" alt="estrela branca" title="C1-Avançado">
                </p>

            </div>

            
          

            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4 " id="conhecimento">
               <h3>Conhecimento em:</h3>
              

               <img src="conhecimento/bootstrap.png" class="logo" alt="bootstrap">
               <img src="conhecimento/css3.png" class="logoFila2" alt="css3">
               <img src="conhecimento/html5.png" class="logo" alt="html5">
               <img src="conhecimento/java.png" class="logoFila2" alt="java">
               <img src="conhecimento/javaScript.png" class="logo" alt="javaScript">
               <img src="conhecimento/php.png" class="logoFila2" alt="php">
               <img src="conhecimento/mysql.png" id="mysql" alt="mysql">
            </div>
              
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 " id="familiaridade">
                <h3>familiarizado com</h3>

                <img src="familiaridade/github.png" class="logo" alt="github">
                <img src="familiaridade/spring.png" class="logoFila2" alt="spring">
                <img src="familiaridade/xampp.png" class="logo" alt="xampp">
                <img src="familiaridade/filezilla.png" class="logoFila2" alt="filezilla">
            </div>

      </div>        
        
</div>

<!--contatos-->
<footer class="container-fluid" id="contatos">

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" >
          <h1>Contatos</h1>
          <div class="contatos">
            <a href="https://goo.gl/maps/fqXFVX8g1tTmrkD58" target="_blank">
           <i class="fa fa-home" id="home"></i> Jaboatão dos Guararpes-PE, 54080092. BRASIL</a>
            <br>
            
            <a href="mailto:everton18b@gmail.com">
            <i class="fa fa-envelope" id="envelope"></i> Everton18b@gmail.com</a> <br>
            
            <a href="https://wa.me/5581986919734" target="_blank">
            <i class="fa fa-whatsapp" id="whatsapp"></i> 081 9 8691-9734</a>
            
           </div>  
          
         
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6" id="anexo">
        <h1>Anexos</h1>
        
        <a href="Everton_Batista_Silva-CV.pdf" target="_blank">
        <i class="fa fa-file-pdf-o" id="file"></i> Currículo</a> 

      </div>
  </div>

  <div class="row" id="redes">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
      
      <a href="https://www.instagram.com/everton.batista16/" target="_blank">
      <i class="fa fa-instagram" id="instagram" ></i></a>

      <a href="https://www.linkedin.com/in/everton-batista-2b6661186" target="_blank">
      <i class="fa fa-linkedin" id="linkedin"></i></a>

      <a href="https://github.com/everrton0167" target="_blank">
      <i class="fa fa-github" id="github"></i></a>

      <br><br>
      &copy;Desenvolvido por Everton Silva<br> v1.0.0 

    </div>
  </div>
  
</footer>



<!--LINK DO JQUEY-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>

<!--ADAPTANDO O SITE PARA OUTROS DISPOSITIVOS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<!--LINK PARA PARA PAGINA DE JAVACRIPT-->
<script type="text/javascript" src="app.js"> 
</script>

<!--LINK DA BIBLIOTECA WOW PARA PODER TER MAIS DEFINICAO NAS ANIMACOES-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js">
</script>

<script>
  new WOW().init();

</script>
</body>
</html>